extends ../layout

block content
    div.header
        h1 Fixture
    div.content
        table.pure-table
            thead
                tr
                    th Field
                    th Time
                    th Team 1
                    th VS
                    th Team 2

            tbody
            each m,index in matches
                tr
                    td #{m.stadium}
                    td #{m.time}
                    td(class="emphazie") #{m.home}
                    td #{m.home_score.length} - #{m.away_score.length}
                    td(class="emphazie") #{m.away}

                    if isEditable
                        td
                            a(href="/admin/edit/#{m.id}") edit

